/* App.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(90deg, #ff007f, #007bff, #7f00ff, #00ffff, #ffff00); /* Original background gradient */
  background-size: 400% 400%;
  animation: neonBackground 10s ease infinite; /* Animation for moving neon background */
}

/* Define keyframes for the neon background animation */
@keyframes neonBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 300px;
  border-bottom: none; /* Remove the border at the bottom */
}

.login-form h2 {
  margin-bottom: 20px;
}

.login-form label {
  margin-bottom: 10px; /* Apply bottom margin to labels */
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px; /* Apply bottom margin to input fields */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}
